body {
	padding: 0;
	margin: 0;
	font-family: Tahoma;
	font-size: 12px;
	min-width:960px;
	background-image:url('img/bg.jpg');
	background-position: top left;
	background-repeat: no-repeat;
	min-width: 980px;
	background-attachment: fixed;
}
/*** HEADER ***/
#header_logo {
	margin: 10px;
	width: 30px;
	height: 30px;
	box-shadow: 0px 0px 15px rgba(255,255,255,0.1);
	border: 0;
	float: left;
}
.logo_txt { float: left; padding: 2px; font-size: 22px; font-family: BebasNeue; position: relative; top: -16px; line-height: 0.9em;}
/*** MENU ***/
#menu {
	width: 100%;
	height: 50px;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(225,225,225,1) 71%, rgba(246,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(71%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 71%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 71%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 71%,rgba(246,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 71%,rgba(246,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
	color: black;
	position: fixed;
	top:0px;
	clear: both;
}
#menu_cont {
	width: 960px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
/*** MENU ITEMS ***/
#menu_cont2 {
	float: right;
	padding:0;
	margin: 0;
}
#menu_cont2 li { display:inline; }
#menu_cont2 li a {
	font-size:16px;
	text-decoration: none;
	width:110px;
	margin-left: 10px;
	color: black;
	text-shadow: 2px 2px 1px rgba(255, 255,255,0.4);
	text-align: center;
	top:6px;
	position: relative;
	padding: 10px;
	font-family: BebasNeue;
}
#menu_cont2 li a:hover{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(225,225,225,1) 71%, rgba(246,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(71%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 71%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 71%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 71%,rgba(246,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 71%,rgba(246,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
#bar_icon {
	width: 24px;
	height: 24px;
	border: 0;
	position: relative;
	top: 6px;
}
#bar_icon2 {
	width: 24px;
	height: 24px;
	border: 0;
	position: relative;
	top: 6px;
	padding-right: 10px;
}
/*** CONTENT ***/
#cont {
	width:960px;
	margin-top:70px;
	margin-left: auto;
	margin-right: auto;
}
#left_side {
	width: 250px;
	float:left;
	padding-right: 20px;
}
#right_side {
	width: 690px;
	float:left;
}
#panel {
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	border-radius: 5px;
	margin-bottom:20px;
}
#naglowek {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(225,225,225,1) 71%, rgba(246,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(71%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 71%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 71%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 71%,rgba(246,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 71%,rgba(246,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
	width: 100%;
	height: 54px;
	margin-left: auto;
	margin-right: auto;
	font-family: BebasNeue;
	overflow: hidden;
}
.naglowek_txt { text-align: center; font-family: BebasNeue; line-height: 0.9em; padding:15px; font-size: 32px;}
.naglowek_r { float: left; }
#tresc_l {
	width: 230px;
	height: auto;
	line-height: 1.4em;
	margin-left: auto;
	margin-right: auto;
	padding:10px;
	background: rgba(255,255,255,0.9);
}
#tresc_r {
	width: 670px;
	height: auto;
	line-height: 1.4em;
	margin-left: auto;
	margin-right: auto;
	padding:10px;
	background: rgba(255,255,255,0.9);
}
/*** ALERTS ***/
#alert_no {
	background: #a90329; /* Old browsers */
	background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
	background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
	padding:15;
	margin-right: 20px;
	margin: 0;
	width: 656px;
	border-radius: 5px;
	border: #fff 2px solid;
	color: white;
}
#alert_yes {
	background: #c9de96; /* Old browsers */
	background: -moz-linear-gradient(top, #c9de96 0%, #8ab66b 26%, #8ab66b 26%, #398235 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(26%,#8ab66b), color-stop(26%,#8ab66b), color-stop(100%,#398235)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #c9de96 0%,#8ab66b 26%,#8ab66b 26%,#398235 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #c9de96 0%,#8ab66b 26%,#8ab66b 26%,#398235 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #c9de96 0%,#8ab66b 26%,#8ab66b 26%,#398235 100%); /* IE10+ */
	background: linear-gradient(to bottom, #c9de96 0%,#8ab66b 26%,#8ab66b 26%,#398235 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
	padding:15;
	margin: 0;
	width: 656px;
	border-radius: 5px;
	border: #fff 2px solid;
	color: white;
}
/*** FOOTHER ***/
#foother {
	clear: both;
	width: 100%;
	height: 150px;
	margin-top: 0px;
	color: rgba(0,0,0,1);
	background-image: url('img/foother_bg.jpg');
}
#cont2 {
	width:960px;
	margin-left: auto;
	margin-right: auto;
}
.foother_text {
	float: left;
	padding-left:10px;
	font-size: 32px;
	font-family: BebasNeue;
	color: white;
	line-height:0.9em;
}
#foother_logo {
	background-image: url('img/foother_logo.jpg');
	float: right;
	height: 150px;
	width: 260px;
}
/*** FEATURES ***/
.push { clear: both; }
@font-face {
    font-family: BebasNeue;
		src: url('fonts/BebasNeue.eot');
		src: url('fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
			url('fonts/BebasNeue.woff') format('woff'),
			url('fonts/BebasNeue.ttf')  format('truetype'),
			url('fonts/BebasNeue.svg#svgFontName') format('svg');
}

/*** MENU ***/
#kategorie {
	width: 100%;
	height: 50px;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(225,225,225,1) 71%, rgba(246,246,246,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(71%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 71%,rgba(246,246,246,1) 100%); 
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 71%,rgba(246,246,246,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 71%,rgba(246,246,246,1) 100%); 
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(225,225,225,1) 71%,rgba(246,246,246,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
	color: black;
	margin-bottom:20px;
	clear: both;
	border-radius: 5px;
}
#kategorie ol a:hover {
	color:#000;
	background-color: rgba(255,255,255,0.4);
}
/*** MENU UL ***/
#kategorie ul { overflow: hidden; float: left; min-width: 158px;}
#kategorie ol > li:hover > ul { display:block; }
#kategorie ol > li > ul {
	display:none;
	list-style-type:none;
	padding:0;
	margin:0;
}
/*** MENU LI ***/
#kategorie ul > li { text-align: left; }
#kategorie ol > li {
	float:left;
	width:158px;
	height:2em;
	white-space:nowrap;
}
#kategorie ol > li:hover > a { background-color: #eee; }
#kategorie ol > li > ul > li { position:relative; background-color: #eee; }
/*** MENU OL ***/
#kategorie ol {
	list-style-type:none;
	padding:6;
	margin:0;
	font-size:20px;
	font-family: BebasNeue;
	height:50px;
	line-height:2em;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}
#kategorie ol a {
	display:block;
	text-decoration:none;
	color:#000;
	padding:0 10;
	height: 40px;
}